footer.footer
   .row
      .col-md-6
         ul.list-unstyled.footer-links
            li: a(href="/help", rel="external") Help
            li: a(href="/privacy", rel="external") Privacy policy
      col-md-6
         p.text-right
            | Copyright &copy; 2015 &nbsp;
            a(href="#") Funnel