head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='keywords', content='recruitment workflow, hiring app, recruitment app, funnel, getfunnel, recruitment software')
    meta(name='description', content='Funnel, recruitment workflow simplified')
    meta(name='author', content='Funnel, Inc.')
    link(rel='stylesheet', href='/styles/css/funnel.css')
    link(rel='stylesheet', href='/styles/css/landing-page.css')
    title Funnel