.page-header
   h3(data-bind="text: opening().title")
   p.lead Customize this opening by adding a description, stages for interview process and user responsibe for each stage.
.row
   .col-md-6
      form(data-bind="with: opening")
         .form-group
            label Title
            input.form-control(type="text", data-bind="value: title")
         .form-group
            label Description
            textarea.form-control(data-bind="value: description")
         h4 Stages
         p Stages define the selection process workflow for an opening. By default, we create a set of default stages for you.
            | You can add or remove stages based on your requirements.
         p.small.text-info Drag the stages to reorder. Default stage can't be reordered or removed.
         div(data-bind="foreach: stages, sortable: {model: stages}")
            .form-inline.stage-item.well.well-sm(data-bind="css: {nosort: _default}")
               strong.handle(data-bind="visible: !_default", title="Drag to recorder") ::
               .form-group.mrm
                  label Name:
                  input.form-control(type="text", data-bind="value: name")
               .form-group
                  label User:
                  select(style="width: 180px").form-control(data-bind="options: $parents[1].users, optionsText: 'firstname', optionsValue: '_id', value: user")
               .checkbox.col-md-12.np(style="margin-top: 10px")
                  label
                     input(type="checkbox", value="completed", data-bind="checked: final")
                     | &nbsp; Close the application if rejected in this stage.
                     i.icon.icon-info-sign.mlm(data-toggle="tooltip", title="If this checkbox is selected then outcome of this stage is the final outcome")
                  a.text-danger.pull-right(data-bind="click: $parent.removeStage.bind($parent), visible: $index() !=0", href="#") Delete this stage
         a(data-bind="click: addStage", href="#") Add more stage
         .form-group.pull-right
            button.btn.btn-primary.btn-lg(data-bind="click: $parent.save") Save