
<div class="page-header">
  <h2>Openings</h2>
  <p class="lead">
    Positions currently open in the organization. To create a new position, enter the name of the position and click
    on create to get started.
  </p>
</div>
<div class="row">
  <div class="col-md-2">
    <ul class="list-unstyled side-bar">
      <li><a>Active</a></li>
      <li><a>Archived</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="row"><!-- ko foreach: openings -->
      <div class="col-md-4">
        <div class="well well-sm card text-center">
          <div class="col-xs-12 card-title">
            <h3 href="/app/openings/:id" data-bind="text: title, click: $parent.select"></h3>
            <p data-bind="text: created_by().firstname" class="text-muted"></p>
            <p data-bind="text: description"></p>
          </div>
          <div class="col-xs-12 divider mbl np">
            <div class="col-xs-4 emphasis np">
              <h3><strong class="text-primary">123</strong></h3>
              <p:small>Applications</p:small>
            </div>
            <div class="col-xs-4 emphasis">
              <h3><strong class="np text-success">10</strong></h3>
              <p:small>Selected</p:small>
            </div>
            <div class="col-xs-4 emphasis np">
              <h3><strong class="text-danger">93</strong></h3>
              <p:small>Rejected</p:small>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6"><a class="btn btn-danger">Archive</a></div>
            <div class="col-xs-6"><a data-bind="attr: {href: '/app/openings/'+id}" class="btn btn-primary">Edit</a></div>
          </div>
        </div>
      </div><!-- /ko -->
      <div class="col-md-4">
        <div class="well well-sm card text-center">
          <div class="col-xs-12 card-title">
            <h5>Create a new opening</h5>
            <p> Enter the position title and click create.</p>
            <input type="text" data-bind="value: newOpening" placeholder="e.g., NodeJS developer" class="form-control input-lg text-center"/>
          </div>
          <div class="col-xs-12 divider mbl">
            <div class="add-new">
              <button data-bind="click: create" class="btn btn-lg btn-success"><i class="icon icon-plus-sign"></i>&nbsp; Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>