.row
    .col-md-9.col-md-offset-3
        a.btn.btn-primary(href="/app/candidates/new") Create
hr
.row
    .col-md-3
        ul.list-unstyled(data-bind="foreach: candidates")
            li: a(href="/app/candidates/:id", data-bind="text: firstname, click: $parent.select")
    .col-md-9
        table.table.table-striped
            thead
                tr
                    th First Name
                    th Last Name
                    th E-mail
                    th Telephone
                    th Source
                    th
            tbody(data-bind="foreach: candidates")
                tr
                    td(data-bind="text: firstname")
                    td(data-bind="text: lastname")
                    td(data-bind="text: email")
                    td(data-bind="text: telephone")
                    td(data-bind="text: source")
        //h3(data-bind="text: selected().title()")
        //p(data-bind="text: selected().description()")
             