.page-header
   h2 Create a new candidate
   p.lead You can also create a candidate by forwarding email to funnel-candidate@funnel.com
.row
   .col-md-5
      form.mbl(data-bind="with: candidate, jqform: {onSubmit: onSubmit}", action="/api/candidates", method="POST")
         .form-group
            .row
               .col-sm-6
                  label First Name
                  input.form-control(type="text", data-bind="value: firstname", name="firstname")
               .col-sm-6
                  label Last Name
                  input.form-control(type="text", data-bind="value: lastname", name="lastname")
         .form-group
            .row
               .col-sm-6
                  label Email
                  input.form-control(type="text", data-bind="value: email", name="email")
               .col-sm-6
                  label Telephone
                  input.form-control(type="text", data-bind="value: telephone", name="telephone")
         .form-group
            label Source
            input.form-control(type="text", data-bind="value: source", name="source", placeholder="internet, job portal, agency")
         .form-group
            label Resume
            input.form-control.input-lg(type="file", data-bind="value: resume", name="resume")
         .form-group
            label Resume Text
            textarea.form-control(data-bind="value: resumeText", name="resumeText", placeholder="Copy and paste plain text resume here")

         button.btn.btn-primary.btn-lg(type="submit") Save
         button.btn.btn-default.btn-lg.pull-right Cancel