
<div class="page-header">
  <h2>Candidates</h2>
  <p class="lead">
    List of all the candidates created in the system. To assign a candidate to an opening, click on create application.
    If a candidate is locked, then you need to unlock the candiate before you can create application. Rejection will automatically
    lock the candidate.
  </p>
</div>
<div class="row">
  <div class="col-md-2"><a href="/app/candidates/new" class="btn btn-primary btn-block mbl">Create</a>
    <ul class="list-unstyled side-bar">
      <li data-bind="css: {active: selected()}"><a href="">All</a></li>
      <li><a href="">Selected</a></li>
      <li><a href="">Rejected</a></li>
      <li><a href="">Unscreened</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="button-group mbm">
      <button class="btn btn-default">Create application</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <input type="checkbox"/>
          </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-mail</th>
          <th>Telephone</th>
          <th>Source</th>
          <th>Applications</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: candidates">
        <tr>
          <th>
            <input type="checkbox"/>
          </th>
          <td data-bind="text: firstname"></td>
          <td data-bind="text: lastname"></td>
          <td data-bind="text: email"></td>
          <td data-bind="text: telephone"></td>
          <td data-bind="text: source"></td>
          <td>
            <ul data-bind="foreach: applications" class="list-unstyled">
              <li data-bind="text: opening.title"></li>
            </ul>
          </td>
          <td>
            <button data-bind="click: $parent.startAssign, css: {hidden: $parent.selected() == $data} " class="btn btn-sm btn-default">Create application</button>
            <div data-bind="if: $parent.selected() == $data">
              <select data-bind="options: $parent.openings, optionsText: 'title', value: $parent.opening" class="form-control input-sm"></select>
              <button data-bind="click: $parent.cancelAssign" class="btn btn-sm btn-primary">Cancel</button>
              <button data-bind="click: $parent.saveAssign" class="btn btn-sm btn-danger">Save</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--h3(data-bind="text: selected().title()")-->
    <!--p(data-bind="text: selected().description()")
    -->
  </div>
</div>