
<div class="row">
  <div class="col-md-9 col-md-offset-3"><a href="/app/candidates/new" class="btn btn-primary">Create</a></div>
</div>
<hr/>
<div class="row">
  <div class="col-md-3">
    <ul data-bind="foreach: candidates" class="list-unstyled">
      <li><a href="/app/candidates/:id" data-bind="text: firstname, click: $parent.select"></a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-mail</th>
          <th>Telephone</th>
          <th>Source</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: candidates">
        <tr>
          <td data-bind="text: firstname"></td>
          <td data-bind="text: lastname"></td>
          <td data-bind="text: email"></td>
          <td data-bind="text: telephone"></td>
          <td data-bind="text: source"></td>
          <td><a href="" data-bind="click: $parent.startAssign, css: {hidden: $parent.selected() == $data} ">Create application</a>
            <div data-bind="if: $parent.selected() == $data">
              <select data-bind="options: $parent.openings, optionsText: 'title', optionsValue: '_id', value: $parent.opening"></select><a data-bind="click: $parent.cancelAssign">Cancel</a><a data-bind="click: $parent.saveAssign">Save</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--h3(data-bind="text: selected().title()")-->
    <!--p(data-bind="text: selected().description()")
    -->
  </div>
</div>