include  includes/app
   include includes/site-header
   body
      div#wrapper
         include includes/site-nav
         #container.container
            h3 #{error}
         include includes/app-footer
