include  includes/app
   include includes/site-header
   body
      include includes/site-nav
      .verify-block
         .lead.text-success Please verify your email address
         .lead We have sent a verification link to #{email}
