include  includes/app
   include includes/site-header
   body
      //include includes/site-nav
      .login-block
         .container
            .row
               .col-md-12
                  form(action="/signin", method="post")
                     .form-group
                        label Email:
                        input.form-control(type="email", name="email", placeholder="name@work.com")
                     .form-group
                        label Password:
                        input.form-control(type="password", name="password", placeholder="Your password")
                     button.btn.btn-primary(type="submit") Submit