include  includes/app
    include includes/app-header
    body
        div#wrapper
            <nav-bar params="app: $root"></nav-bar>
            .loading(data-bind="visible: $root.loading().length")
                i.icon-spinner.icon-spin
                span &nbsp; Loading...
            #container.container
                div(data-bind="component: {name:route().page, params: $root}")
            include includes/app-footer
        include includes/scripts