h1 Dashboard
.row
    .col-md-12
        table.table.table-striped
            thead
                tr
                    th Name
                    th Position
                    th Current Stage
                    th Schedule
                    th
            tbody
                tr
                    td Amitava Saha
                    td UI Developer
                    td Screening
                    td
                    td: a.btn.btn-primary.btn-sm(href="/app/applications/123") Details
                tr
                    td Candidate
                    td Node JS
                    td Telephonic
                    td 12/31/2014, 3:30PM
                    td: a.btn.btn-primary.btn-sm(href="/app/applications/123") Details
                tr
                    td Candidate 2
                    td UI Developer
                    td HR
                    td
                    td: a.btn.btn-primary.btn-sm(href="/app/applications/123") Details