h1 Dashboard
.row
    .col-md-4
        .list-group
            a.list-group-item(href="#", data-bind="click: doFilter.bind(null, 'created'), css: {active: filter() == 'created'}") My Items
            a.list-group-item(href="#", data-bind="click: doFilter.bind(null, 'assigned'), css: {active: filter() == 'assigned'}") Assigned
            a.list-group-item(href="#", data-bind="click: doFilter.bind(null, 'scheduled'), css: {active: filter() == 'scheduled'}") Scheduled
            a.list-group-item(href="#") All

    .col-md-8
        table.table.table-striped
            thead
                tr
                    th Name
                    th Position
                    th Current Stage
                    th Schedule
                    th
            tbody(data-bind="foreach: applications")
                tr
                    td(data-bind="text: candidate.firstname + ' ' + candidate.lastname")
                    td(data-bind="text: opening.title")
                    td(data-bind="text: current_stage.name")
                    td Not scheduled
                    td: a.btn.btn-primary.btn-sm(data-bind="attr: {href: '/app/applications/' + id}") Details