
<h1>Dashboard</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Current Stage</th>
          <th>Schedule</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Amitava Saha</td>
          <td>UI Developer</td>
          <td>Screening</td>
          <td></td>
          <td><a href="/app/applications/123" class="btn btn-primary btn-sm">Details</a></td>
        </tr>
        <tr>
          <td>Candidate</td>
          <td>Node JS</td>
          <td>Telephonic</td>
          <td>12/31/2014, 3:30PM</td>
          <td><a href="/app/applications/123" class="btn btn-primary btn-sm">Details</a></td>
        </tr>
        <tr>
          <td>Candidate 2</td>
          <td>UI Developer</td>
          <td>HR</td>
          <td></td>
          <td><a href="/app/applications/123" class="btn btn-primary btn-sm">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>