
<div class="page-header">
  <h2>Dashboard</h2>
  <p class="lead">Here are the summery of your work items.</p>
</div>
<div class="row">
  <div class="col-md-2">
    <ul class="list-unstyled side-bar">
      <li><a href="#" data-bind="click: doFilter.bind(null, 'created'), css: {active: filter() == 'created'}">My Items</a></li>
      <li><a href="#" data-bind="click: doFilter.bind(null, 'assigned'), css: {active: filter() == 'assigned'}">Assigned</a></li>
      <li><a href="#" data-bind="click: doFilter.bind(null, 'scheduled'), css: {active: filter() == 'scheduled'}">Scheduled</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Current Stage</th>
          <th>Schedule</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: applications">
        <tr>
          <td data-bind="text: candidate.firstname + ' ' + candidate.lastname"></td>
          <td data-bind="text: opening.title"></td>
          <td data-bind="text: current_stage.name"></td>
          <td>Not scheduled</td>
          <td><a data-bind="attr: {href: '/app/applications/' + id}" class="btn btn-primary btn-sm">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>