
<nav role="navigation" class="navbar navbar-white navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display-->
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Funnel</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling-->
    <div class="collapse navbar-collapse navbar-white-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/app/dashboard">Dashboard</a></li>
        <li><a href="/app/applications">Applications</a></li>
        <li><a href="/app/openings">Openings</a></li>
        <li><a href="/app/candidates">Candidates</a></li>
        <li><a href="/signout" rel="external">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>