nav.navbar.navbar-white.navbar-fixed-top(role='navigation')
   .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a(href='/') Funnel
         div.dropdown
            a.dropdown-toggle(data-toggle="dropdown", href="#", rel="external")
               span(data-bind="text: user().active_org.name")
               .caret
            ul.dropdown-menu(data-bind="foreach: user().orgs")
               li: a(data-bind="text: name, attr: {href: '/switch/' + _id}", rel="external")
         div(data-bind="text: user().name + ' (' + user().active_org.role + ')' ")
      // Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-white-collapse
         ul.nav.navbar-nav.navbar-right
            li: a(href="/app/dashboard") Dashboard
            li: a(href="/app/applications") Applications
            li: a(href="/app/openings") Openings
            li: a(href="/app/candidates") Candidates
            li: a(href="/app/settings") Settings
            li
               a(href='/signout', rel="external") Logout