.action-btns{
  margin-bottom: 10px;
  padding-bottom: 10px;
  &>div{
   display: inline-block;
  }
}

.comments {
  .comment{
    border-bottom: 1px solid @gray-lighter;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #FFFDDD;
    .content{
      p{
        margin-bottom: 0;
      }
    }
    &.alt{
      background-color: #F0EFEF;
    }
  }
}