.mbl{
  margin-bottom: 20px;
}
.mbm{
  margin-bottom: 10px;
}
.mbs{
  margin-bottom: 5px;
}
.mrs{
  margin-right: 5px;
}
.mrm{
  margin-right: 10px;
}
.mls{
  margin-left: 5px;
}
.mlm{
  margin-left: 10px;
}

.np{
  padding: 0 !important;
}
.nm{
  margin: 0 !important;
}

