
<div data-bind="with: application" class="row">
  <div class="col-md-12">
    <div class="page-title">
      <h1><span data-bind="text: opening().title"></span><small class="mlm"><span data-bind="text: assigned_to().firstname"></span>/<span data-bind="text: stage().name"></span></small></h1>
    </div>
  </div>
  <div class="col-md-12">
    <div class="action-btns">
      <div>
        <button class="btn btn-primary">Schedule</button>
      </div>
      <div class="dropdown">
        <button data-toggle="dropdown" data-bind="click: $parent.getUsers.bind($parent)" class="btn btn-info dropdown-toggle">Change Assignee</button>
        <ul data-bind="foreach: $parent.users" class="users-list dropdown-menu">
          <li><a data-bind="text: user.firstname, click: $parent.assignUser.bind($parent)" href="#" rel="external"></a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">Change Stage</button>
        <ul data-bind="foreach: opening().stages" class="dropdown-menu">
          <li><a data-bind="text: name, click: $parent.changeStage.bind($parent)" href="#" rel="external"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div data-bind="with: application" class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Candidate Profile</h4>
      </div>
      <div data-bind="with: candidate" class="panel-body">
        <p data-bind="text: firstname + ' ' + lastname"></p>
        <p data-bind="text: email"></p>
        <p data-bind="text: telephone"></p><a data-bind="attr: {href: '/api/candidates/'+_id+'/files/'+ $data.fileName}" rel="external" class="btn btn-default btn-sm"><i class="icon icon-save"></i>&nbsp;Download resume</a>
      </div>
    </div>
    <h3>Current Stage</h3>
    <div style="margin-bottom: 40px" class="panel panel-primary">
      <div class="panel-heading">
        <h4 data-bind="text: stage().name" class="panel-title"></h4>
      </div>
      <div class="panel-body"><strong>Post your feedback</strong>
        <textarea data-bind="value: feedback.feedback" class="form-control mbm"></textarea>
        <div class="clearfix row">
          <div class="col-md-6 mts">
            <label class="mrm">
              <input type="radio" name="status" data-bind="checked: feedback.status" value="selected" class="mrs"/>Select
            </label>
            <label>
              <input type="radio" name="status" data-bind="checked: feedback.status" value="rejected" class="mrs"/>Reject
            </label>
          </div>
          <div class="col-md-6 text-right">
            <button data-bind="click: $parent.saveFeedback" class="btn btn-primary">Save feedback</button>
            <Button class="btn btn-success">I'm done</Button>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <h3>Previous Stages</h3>
    <p data-bind="if: stages().length == 0" class="lead">This is the first stage of this application.</p>
    <div data-bind="foreach: stages">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 data-bind="text: name" class="panel-title pull-left"></h4><span class="pull-right">
            <div class="label label-success">Selected</div></span>
        </div>
        <div class="panel-body">
          <div class="comment">
            <p>Amitava Saha</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <div class="comment-actions"><a>Edit</a><span class="pull-right">12/12/14</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-bind="with: application" class="col-md-4">
    <h3 style="margin-top: 0px">Notes</h3>
    <div>You can add notes about this application. Notes are visible to everyone & can't be deleted.</div>
    <hr/>
    <ul data-bind="foreach: notes" class="list-unstyled comments">
      <li data-bind="css: {alt: $index()%2 !== 0}" class="comment">
        <div class="author"><strong data-bind="text: user.firstname"></strong><small data-bind="moment: createdAt, format: 'MM/DD/YYYY h:mm a'" class="pull-right"></small></div>
        <div class="content">
          <p data-bind="text: note"></p>
        </div>
      </li>
    </ul>
    <div class="add-note">
      <div class="form-group">
        <textarea placeholder="Add a new note" data-bind="value: $parent.newNote" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button data-bind="click: $parent.addNote.bind($parent)" class="btn btn-lg btn-primary pull-right">Save</button>
      </div>
    </div>
  </div>
</div>