.row(data-bind="with: application")
   .col-md-12
      .page-title
         h1
            span(data-bind="text: opening().title")
            small.mlm
               span(data-bind="text: assigned_to().firstname")
               | &nbsp; / &nbsp;
               span(data-bind="text: stage().name")
   .col-md-12
      .action-btns
            div: button.btn.btn-primary Schedule
            div.dropdown
               button.btn.btn-info.dropdown-toggle(data-toggle="dropdown", data-bind="click: $parent.getUsers.bind($parent)") Change Assignee
               ul.users-list.dropdown-menu(data-bind="foreach: $parent.users")
                  li: a(data-bind="text: user.firstname, click: $parent.assignUser.bind($parent)", href="#", rel="external")

            div.dropdown
               button.btn.btn-success.dropdown-toggle(data-toggle="dropdown") Change Stage
               ul.dropdown-menu(data-bind="foreach: opening().stages")
                  li: a(data-bind="text: name, click: $parent.changeStage.bind($parent)")

.row
   .col-md-8(data-bind="with: application")
      .panel.panel-info
         .panel-heading
            h4.panel-title Candidate Profile
         .panel-body(data-bind="with: candidate")
            p(data-bind="text: firstname + ' ' + lastname")
            p(data-bind="text: email")
            p(data-bind="text: telephone")
            a() Resume

      h3 Current Stage
      .panel.panel-primary(data-bind="with: stage", style="margin-bottom: 40px")
         .panel-heading
            h4.panel-title(data-bind="text: name")
         .panel-body
            strong Post your feedback
            textarea.form-control
            .clearfix
               .col-md-6
                  label
                     input(type="radio", name="select")
                     | Select
                  label
                     input(type="radio", name="select")
                     | Reject
               div.pull-right
                  button.btn.btn-primary Save feedback
                  Button.btn.btn-success I'm done

      hr
      h3 Previous Stages
      div(data-bind="foreach: opening().stages")
         .panel.panel-default
            .panel-heading.clearfix
               h4.panel-title.pull-left(data-bind="text: name")
               span.pull-right
                  .label.label-success Selected
            .panel-body
               .comment
                  p Amitava Saha
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                  .comment-actions
                     a Edit
                     span.pull-right 12/12/14

   .col-md-4(data-bind="with: application")
      h3(style="margin-top: 0px") Notes
      hr
      ul.list-unstyled.comments(data-bind="foreach: notes")
         li.comment
            .author
               strong(data-bind="text: user.firstname")
               small.pull-right(data-bind="moment: createdAt, format: 'MM/DD/YYYY h:mm a'")
            .content
               p(data-bind="text: note")

      .add-note
         .form-group
            textarea.form-control(placeholder="Add a new note", data-bind="value: $parent.newNote")
         .form-group
            button.btn.btn-sm.btn-primary(data-bind="click: $parent.addNote.bind($parent)") Save
