.page-header
   h2 Applications
   p.lead
      | Here is the list of applications created for all the open positions. To create a new application, go to&nbsp;
      a(href="/app/candidates") candidates
      | &nbsp;page and click on create application to assign a candidate to an open position.
.row
   .col-md-2
      ul.list-unstyled.side-bar
         li: a() All
         li: a() Created
         li: a() Assigned
         li: a() In progress
         li: a() Unscreened
         li: a() Selected
         li: a() Rejected
   .col-md-10
      table.table.table-striped
         thead
            tr
               th Name
               th Position
               th Current Stage
               th Schedule
               th
         tbody(data-bind="foreach: applications")
            tr
               td(data-bind="text: candidate().firstname + ' ' + candidate().lastname")
               td(data-bind="text: opening().title")
               td(data-bind="text: stage().name")
               td Not scheduled
               td: a.btn.btn-primary.btn-sm(data-bind="attr: {href: '/app/applications/' + id}") Open