
<div class="row">
  <div data-bind="with: application" class="col-md-12">
    <h3 data-bind="text: opening().title"></h3>
    <button class="btn">Schedule</button>
    <hr/>
    <p>Current stage: &nbsp;<strong data-bind="text: current_stage().name" class="label label-info"></strong><i class="icon icon-user"></i><strong data-bind="text: assigned_to().firstname" class="label label-info"></strong></p>
  </div>
</div>
<div class="row">
  <div data-bind="with: application" class="col-md-8">
    <div data-bind="with: candidate" class="well well-sm">
      <p data-bind="text: firstname + ' ' + lastname"></p>
      <p data-bind="text: email"></p>
      <p data-bind="text: telephone"></p>
    </div>
    <div data-bind="with: current_stage" class="well well-sm">
      <h4 data-bind="text: name"></h4><strong>Post your feedback</strong>
      <textarea class="form-control"></textarea>
      <div class="col-md-6">
        <label>
          <input type="radio" name="select"/>Select
        </label>
        <label>
          <input type="radio" name="select"/>Reject
        </label>
      </div>
      <div class="pull-right">
        <button class="btn btn-primary">Save feedback</button>
        <Button class="btn btn-success">I'm done</Button>
      </div>
    </div>
    <h4>Interview Progress</h4>
    <div data-bind="foreach: opening().stages">
      <div class="well well-sm">
        <h4 data-bind="text: name"></h4><strong>Post your feedback</strong>
        <textarea class="form-control"></textarea>
        <label>
          <input type="radio" name="select"/>Select
        </label>
        <label>
          <input type="radio" name="select"/>Reject
        </label>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Notes</h4>
    <div class="panel">
      <div class="comment">
        <p>Amitava Saha</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <div class="comment-actions"><a>Edit</a><a>Remove</a><span class="pull-right">12/12/14</span></div>
      </div>
      <hr/>
      <div class="add-note">
        <textarea placeholder="Add a new note" class="form-control"></textarea>
        <button class="btn btn-sm btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>